---
import Layout from "../layouts/Layout.astro";
import HomeSection from "../components/HomeSection.astro";
import ServiceSection from "../components/ServiceSection.astro";
import AboutSection from "../components/AboutSection.astro";
import SkillSection from "../components/SkillSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import PortfolioSection from "../components/PortfolioSection.astro";
import TestimonialSection from "../components/TestimonialSection.astro";
import BlogSection from "../components/BlogSection.astro";
---

<Layout title="Welcome to Astro.">
  <main class="main">
    <HomeSection />
    <ServiceSection />
    <AboutSection />
    <SkillSection />
    <ExperienceSection />
    <PortfolioSection />
    <TestimonialSection />
    <BlogSection />
  </main>
</Layout>
