---
import TestimonialImg1 from "../assets/imgs/testimonial1.jpg";
import TestimonialImg2 from "../assets/imgs/testimonial2.jpg";
import TestimonialImg3 from "../assets/imgs/testimonial3.jpg";
---

<script>
  const testimonialSwiper = new Swiper(".testimonial__wrapper", {
    loop: true,
    spaceBetween: 40,
    grabCursor: true,
    centeredSlides: true,
    slidesPreView: "auto",
    navigation: {
      nextEl: ".swiper__next",
      prevEl: ".swiper__prev",
    },
  });
</script>

<section class="section testimonial">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Feedback From Happy Clients</h2>
      <p class="section__description">
        Enim adipiscing duis facilisi sed eu tortor. Suspendisse vulputate
        varius eu sollicitudin amet placerat feugiat sem felis.
      </p>
    </div>
  </div>

  <div class="testimonial__wrapper container swiper">
    <div class="section-bg"></div>
    <!-- =========== testimonial 1 =========== -->
    <div class="swiper-wrapper">
      <div class="testimonial__card swiper-slide">
        <div class="testimonial__img-wrapper">
          <img src={TestimonialImg1.src} alt="" class="testimonial__img" />
        </div>

        <div class="testimonial__content">
          <p class="testimonial__quote">
            Hac quis arcu non neque. Sem vitae vulputate et a penatibus metus
            aliquet. Lacinia viverra sed diam ultricies tellus.
          </p>
          <h3 class="testimonial__name">Henry Smith</h3>
          <span class="testimonial__occupation">Creative Director</span>
        </div>
      </div>

      <!-- =========== testimonial 2 =========== -->
      <div class="testimonial__card swiper-slide">
        <div class="testimonial__img-wrapper">
          <img src={TestimonialImg2.src} alt="" class="testimonial__img" />
        </div>

        <div class="testimonial__content">
          <p class="testimonial__quote">
            Hac quis arcu non neque. Sem vitae vulputate et a penatibus metus
            aliquet. Lacinia viverra sed diam ultricies tellus.
          </p>
          <h3 class="testimonial__name">Ashley Robie</h3>
          <span class="testimonial__occupation">Product Manager</span>
        </div>
      </div>

      <!-- =========== testimonial 3 =========== -->
      <div class="testimonial__card swiper-slide">
        <div class="testimonial__img-wrapper">
          <img src={TestimonialImg3.src} alt="" class="testimonial__img" />
        </div>

        <div class="testimonial__content">
          <p class="testimonial__quote">
            Hac quis arcu non neque. Sem vitae vulputate et a penatibus metus
            aliquet. Lacinia viverra sed diam ultricies tellus.
          </p>
          <h3 class="testimonial__name">Dave Johnson</h3>
          <span class="testimonial__occupation">Web Developer</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Swiper navigation buttons -->
  <div class="swiper__navigation">
    <div class="swiper__button swiper__prev">
      <i class="ri-arrow-left-s-line"></i>
    </div>
    <div class="swiper__button swiper__next">
      <i class="ri-arrow-right-s-line"></i>
    </div>
  </div>
</section>

<style>
  .testimonial__card {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    background-color: var(--color-white);
    border-radius: var(--b-radius-lg);
    padding: 5rem 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .testimonial__img-wrapper {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 0.2rem solid var(--color-gray);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  .testimonial__img {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
  }

  .testimonial__content {
    text-align: center;
  }

  .testimonial__quote {
    font-size: var(--fs-lg);
    margin-bottom: 3rem;
  }

  .testimonial__name {
    margin-bottom: 0.5rem;
  }

  .testimonial__wrapper {
    padding: 3rem 0;
  }

  .swiper__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
  }

  .swiper__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color-dark);
    font-size: var(--fs-lg);
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
  }

  .swiper__button:hover {
    background-color: var(--color-primary);
  }

  @media screen and (min-width: 967px) {
    .testimonial__wrapper {
      max-width: 90rem;
    }

    .testimonial__card {
      flex-direction: initial;
    }

    .testimonial__content {
      text-align: initial;
    }

    .testimonial__img-wrapper {
      width: 30rem;
      height: 30rem;
    }

    .testimonial__img {
      width: 27rem;
      height: 27rem;
    }

    .testimonial__quote {
      font-size: var(--fs-xl);
    }
  }
</style>
