---
import "remixicon/fonts/remixicon.css";
import Header from "../components/Header.astro";
import FooterSection from "../components/FooterSection.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <FooterSection />
    <a href="#" class="scrolltop" id="scrolltop">
      <i class="ri-arrow-up-s-line"></i>
    </a>
  </body>

  <script is:inline src="/swiper-bundle.min.js"></script>
  <script is:inline src="/scrollreveal.min.js"></script>
  <link rel="stylesheet" href="/swiper-bundle.min.css" />
</html>

<script>
  const scrolltop = document.getElementById("scrolltop");

  function showScrollTop() {
    if (window.scrollY > 150) {
      scrolltop?.classList.add("scrolltop--show");
    } else {
      scrolltop?.classList.remove("scrolltop--show");
    }
  }

  window.addEventListener("scroll", showScrollTop);

  const sr = ScrollReveal({
    distance: "100px",
    duration: 2000,
    delay: 400,
    reset: true,
  });

  sr.reveal(
    ".home__content, .about__img, .testimonial__wrapper, .footer__wrapper"
  );
  sr.reveal(".home__img, .about__content", { origin: "top" });
  sr.reveal(
    ".service__item, .skill__item, .experience__item, .portfolio__project, .blog__card",
    {
      interval: 100,
    }
  );
</script>

<style is:global>
  :root {
    /*
  Colors
  --------------------------------*/
    --color-primary: #156ef4;
    --color-dark: #20232a;
    --color-gray: #f6f7ff;
    --color-title: #202328;
    --color-text: #777990;
    --color-white: #fff;
    /*
  Typography
  --------------------------------*/
    --font-family: "Satoshi", sans-serif;
    /* font sizes */
    --fs-xs: 1.2rem;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 1.8rem;
    --fs-xl: 2rem;
    --fs-2xl: 2.4rem;
    --fs-3xl: clamp(3rem, 5vw, 5.2rem);
    --fs-4xl: clamp(4rem, 8vw, 7rem);
    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    /*
  Width & Height
  --------------------------------*/
    --width-container: 110rem;
    --height-header: 8rem;
    /*
  Z-index, Transition, Border-Radius
  --------------------------------*/
    --zindex-menu: 1000;
    --zindex-fixed: 1010;
    --transition: 0.3s ease-out;
    --b-radius: 2rem;
    --b-radius-lg: 3rem;
    /*
  Shadow
  --------------------------------*/
    --shadow-header: 0px 3px 5px rgb(0 0 0 / 5%);
    --shadow-card: 2px 0 90px rgb(0 0 0 / 10%);
  }

  /* CSS Reset
-------------------------------------------------------------*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--color-title);
    font-weight: var(--fw-bold);
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }

  img {
    display: block;
    max-width: 100%;
  }

  main {
    overflow: hidden;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-family);
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
    color: var(--color-text);
    margin-top: var(--height-header);
  }

  /* Reusable Classes
-------------------------------------------------------------*/
  .section {
    padding: 12rem 0 8rem;
  }

  .section__header {
    text-align: center;
    max-width: 40rem;
    margin: auto;
    margin-bottom: 8rem;
  }

  .section__title {
    font-size: var(--fs-2xl);
    margin-bottom: 1rem;
  }

  .section__description {
    font-size: var(--fs-sm);
  }

  .section-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 70rem;
    min-height: 110%;
    margin: auto;
    border-radius: var(--b-radius);
    background-color: var(--color-gray);
  }

  @media screen and (max-width: 767px) {
    .section-bg {
      max-width: 80vw;
      min-height: 104%;
    }
  }

  .container {
    position: relative;
    width: 90%;
    max-width: var(--width-container);
    margin: auto;
  }

  .d-grid {
    display: grid;
    gap: 3rem;
  }

  .btn {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    padding: 1.5rem 3.5rem;
    border-radius: var(--b-radius-lg);
    font-weight: var(--fw-medium);
    transition: var(--transition);
  }

  .btn--primary {
    background-color: var(--color-primary);
    border: 0.1rem solid transparent;
    color: var(--color-white);
  }

  .btn--primary:hover {
    background-color: var(--color-dark);
    border-color: var(--color-white);
    transform: scale(1.03);
  }

  .btn--outline {
    border: 0.1rem solid var(--color-white);
    color: var(--color-white);
  }

  .btn--outline:hover {
    background-color: var(--color-primary);
    border-color: transparent;
  }

  .btn--line {
    position: relative;
    display: inline-block;
    color: var(--color-white);
  }

  .btn--line::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0.2rem;
    bottom: -1rem;
    background-color: var(--color-white);
    transition: var(--transition);
  }

  .btn--line:hover::before {
    width: 100%;
  }

  /* Media Queries
	-------------------------------------------- */
  @media screen and (min-width: 767px) {
    .home__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    .service__wrapper {
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
    }

    .about__wrapper {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .about__content {
      text-align: initial;
    }

    .about__img {
      order: -1;
    }

    .skill__wrapper {
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
    }

    .experience__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    .portfolio__wrapper,
    .blog__wrapper {
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
    }

    .footer__wrapper {
      flex-direction: initial !important;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 967px) {
    .service__wrapper {
      grid-template-columns: repeat(3, 1fr);
      max-width: 90rem;
    }

    .portfolio__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }

    .blog__wrapper {
      grid-template-columns: repeat(3, max-content);
    }
  }

  /* Scrollbar
	-------------------------------------------- */
  ::-webkit-scrollbar {
    background-color: var(--color-gray);
    width: 0.8rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
  }
</style>

<style>
  .scrolltop {
    position: fixed;
    bottom: -100%;
    right: 3rem;
    background-color: var(--color-primary);
    width: 5rem;
    height: 5rem;
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    transition: var(--transition);
    z-index: var(--zindex-fixed);
    opacity: 0;
  }

  .scrolltop--show {
    bottom: 3rem;
    opacity: 1;
  }
</style>
